<% include templates/dispatchersidebar %>
<% include templates/topbar %>
<% include templates/footer %>
            <!-- End Navbar -->
            <div class="panel-header panel-header-sm">
            </div> 
            <div class="content">
                <div class="row">
                    
                    
                  <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                            <h5 class="card-category">Offenses And Penalties</h5>
                            <h4 class="card-title"></h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                              <table class="table">
                                <thead class=" text-primary">
                                  <th>ID</th>
                                  <th>Name</th>
                                  <th>Classification</th>
                                  <th>Offense</th>
                                  <th>Amount of Penalty</th>
                                </thead>
                                <tr>
                                    <td>1</td>
                                    <td>Ang Casasis</td>
                                    <td>Boundary</td>
                                    <td>3rd</td>
                                    <td>P5,000.00</td>
                                </tr>
                              </table>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
        
                </div>
            </footer>
        </div>
    </div>
    <script>
    $(document).ready(function(){
        var $this = $(this)
        $('#dispatcherdashboard').addClass('active');
    })
    </script>
</body>