                                    <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                            <thead class="text-primary">
                                                <th>Unit Type</th>   
                                                <th>Plate Number</th>                                       
                                                <th>Route</th>
                                                <th>Coding</th>
                                                <th>Route Expiration</th>
                                                <th><center>Action</center></th>
                                            </thead>
                                            <tbody id="data">
                                                <% units.forEach( cur => { %>
                                                <tr id="rec<%= cur.unit_id %>">
                                                    <% console.log( cur ) %>
                                                    <td id="dutype"><%= cur.unittype_desc %></td>
                                                    <td><%= cur.unitplate_no %></td>
                                                    <td><%= cur.route_from + " - " + cur.route_to %></td>
                                                    <td><%= cur.unit_coding %></td>
                                                    <td><%= cur.unitroute_expiration.toDateString() %></td>
                                                    <td id="chassino" hidden><%= cur.unitchassi_no %></td>
                                                    <td id="engineno" hidden><%= cur.unitengine_no %></td> 
                                                    <td id="bodyno" hidden><%= cur.unitbody_no %></td>
                                                    <td id="capt" hidden><%= cur.unit_capacity %></td>
                                                    <td id="rreg" hidden><%= cur.unitroute_registered.toDateString() %></td>
                                                    <td>
                                                        <button class="btn btn-info" type="button"data-toggle="modal" data-target="#myModalv" onclick="expand_info( '<%= "rec" + cur.unit_id %>')">
                                                            <i class="now-ui-icons design_bullet-list-67"></i> 
                                                        </button>
                                                        <button class="btn btn-default" type="button"data-toggle="modal" data-target="#myModal<%= cur.unit_id %>">
                                                            <i class="now-ui-icons design-2_ruler-pencil"></i> 
                                                        </button>
                                                        <a href="/admin/maintenance/unit/delete/<%= cur.unit_id %>"> <button class="btn btn-danger" type="button">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                        <input name="id" hidden type="text" class="form-control" id="id" value=<%= cur.id %> >
                                                        <!-- <a href="/admin/maintenance/autosupplycategory/<%= cur.id %>"></a> -->
                                                        </button>  
                                                        </a>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                            <tbody>
                                        </table>
                                    </div>
                                </div>
