<% include templates/dispatchersidebar %>
<% include templates/footer %>
<% include templates/topbar %>
        
            <!-- End Navbar -->
            <div class="panel-header">
                <div class="header text-center">
                    <h1 class="title">Schedule</h1>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h4 class="card-title"></h4>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <select id="shift" class="form-control" onchange="filter()">
                                            <option value="All" selected="">Shift</option>
                                            <option value="Morning">Morning Shift</option>
                                            <option value="Afternoon">Afternoon Shift</option>
                                            <option value="Wholeday">Wholeday Shift</option>
                                        </select>
                                    </div> 
                                    <div class="col-lg-3">
                                        <select id="utype" class="form-control" onchange="filter()">
                                            <option value="All" selected="">All Unit Types</option>
                                            <option value="Bus">Bus</option>
                                            <option value="FX">FX</option>
                                            <option value="Jeep">Jeep</option>
                                            <option value="UV">UV</option>
                                        </select>
                                    </div>
                                </div>
                            <div class="card-body">
                                <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead class=" text-primary">
                                            <th>Renter</th>
                                            <th>Unit Type</th>
                                            <th>Plate Number</th>
                                            <th>Driver</th>
                                            <th>Action</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</body>
