<% include templates/sidebar %>
<% include templates/topbar %>
<% include templates/footer %>
            <!-- End Navbar -->
            <div class="panel-header">
                <div class="header text-center">
                    <h1 class="title">Unit</h1>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="btn-group col-lg-6">
                                        <a href="/admin/maintenance/rent">
                                            <button type="button" class="btn btn-info active">For Rent</button>
                                        </a>
                                        <a href="/admin/maintenance/unit">
                                            <button type="button" class="btn btn-info">For Byahe</button>
                                        </a>
                                    </div>
                                    <div class="col-lg-6">
                                        <button class="btn btn-primary" style="float:right" type="button"data-toggle="modal" data-target="#myModal">
                                            Add Unit
                                        </button>
                                    </div>
                                </div>
                                <% include templates/unit_filter %>
                                <div class="card-body">
                                    
                                    <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                            <thead class=" text-primary">
                                                <th>Unit Type</th>
                                                <th>Plate Number</th>
                                                <th>Coding</th>
                                                <th>Action</th>
                                            </thead>
                                            <tbody id="data">
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <button class="btn btn-round btn-icon btn-sm btn-info" type="button"data-toggle="modal" data-target="#myModalv">
                                                            <i class="now-ui-icons design_bullet-list-67"></i> 
                                                        </button>
                                                        <button class="btn btn-round btn-icon btn-sm btn-default" type="button"data-toggle="modal" data-target="#editModal">
                                                            <i class="now-ui-icons design-2_ruler-pencil"></i> 
                                                        </button>
                                                        <a href="/admin/maintenance/unit/delete/"> <button class="btn btn-round btn-icon btn-sm btn-danger" type="button">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                        <input name="id" hidden type="text" class="form-control" id="id">
                                                        </button>  
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <!-- Modal  -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5>Add a Unit for Rent</h5>
                                        <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                        </button>
                                </div>
                                <form id="add_form" method="POST" action="/admin/maintenance/unit">
                                    <div class="modal-body">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Unit Type</label>
                                                        <div class="col-md-12">
                                                            <select id="utype" name="utype" class="form-control">
                                                                <option disabled="" selected=""></option>
                                                               
                                                            </select>
                                                        </div></br>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Brand</label>
                                                        <div class="col-md-12">
                                                            <select id="brand" name="brand" class="form-control">
                                                            </select>
                                                        </div></br>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Model</label>
                                                        <div class="col-md-12">
                                                            <input type="text" name="model" class="form-control" placeholder="Model">
                                                        </div></br>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Max Capacity</label>
                                                        <div class="col-md-12">
                                                            <input type="number" name="capt" class="form-control" placeholder="">
                                                        </div></br>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <center>
                                                <label class="col-lg-10 control-label">Numbers</label>
                                            </center>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-lg-12 control-label">Plate Number</label>
                                                        <div class="col-lg-12">
                                                            <input type="text" name="plateno" class="form-control" placeholder="Plate Number" pattern="[A-Z][A-Z][A-Z] \d\d\d\d" maxlength="8" minlength="8">
                                                        </div></br>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-lg-12 control-label">Chassi Number</label>
                                                        <div class="col-lg-12">
                                                            <input type="text" name="chassino" class="form-control" placeholder="Chassi Number" maxlength="17">
                                                        </div></br>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-lg-12 control-label">Body Number</label>
                                                        <div class="col-lg-12">
                                                            <input type="text" name="bodyno" class="form-control" placeholder="Body Number">
                                                        </div></br>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-lg-12 control-label">Engine Number</label>
                                                        <div class="col-lg-12">
                                                            <input type="text" name="engineno" class="form-control" placeholder="Engine Number">
                                                        </div></br>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <center>
                                                <!-- <label class="col-lg-10 control-label">Route</label>
                                                <div class="col-lg-12">
                                                    <select name="route" class="form-control">
                                                        <option disabled="" selected=""></option>
                                                        
                                                    </select>
                                                </div></br> -->
                                                <label class="col-lg-10 control-label">Date Registered</label>
                                                <div class="col-lg-12">
                                                    <input name="" type="date" class="form-control" placeholder="Date Registered">
                                                </div></br>
                                            </center>
                                            <hr>
                                            <!-- <center>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Boundary</label>
                                                        <div class="checkbox">
                                                            <input id="checkbox1" type="checkbox">
                                                            <label for="checkbox1">
                                                                Set Default
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </center> -->
                                            <center>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Rental Rate</label>
                                                        <div class="col-md-12">
                                                            <input name="rrate" type="number" class="form-control" placeholder="">
                                                        </div></br>
                                                    </div>
                                                </div>
                                                </center> 
                                            <hr>
                                        </fieldset>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" style="margin-left:80%" class="btn btn-primary"> Submit </button>
                                    </div>
                                </form>
                            </div>                                                            
                        </div>
                    </div>

                    <div class="modal fade" id="myModalv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5>Unit Information</h5>
                                        <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                        </button>
                                </div>
                                <form id="infos">
                                    <div class="modal-body">
                                        <fieldset>
                                            <center>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-lg-12 control-label">Chassi Number</label>
                                                        <div class="col-lg-12">
                                                            <input type="text" class="form-control" id="chassino" placeholder="Chassi Number" disabled>
                                                        </div></br>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-lg-12 control-label">Engine Number</label>
                                                        <div class="col-lg-12">
                                                            <input type="text" class="form-control" id="engineno" placeholder="Engine Number" disabled>
                                                        </div></br>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-lg-12 control-label">Body Number</label>
                                                        <div class="col-lg-12">
                                                            <input type="text" class="form-control" id="bodyno" placeholder="Body Number" disabled>
                                                        </div></br>
                                                    </div>
                                                </div>    
                                            </div>
                                            </center>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-lg-12 control-label">Max Capacity</label>
                                                        <div class="col-lg-12">
                                                            <input type="number" class="form-control" id="capt" placeholder="Max Capacity" disabled>
                                                        </div></br>
                                                    </div>
                                                </div>    
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-lg-12 control-label">Route Registered</label>
                                                        <div class="col-lg-12">
                                                            <input type="text" class="form-control" id="rreg" placeholder="Chassi Number" disabled>
                                                        </div></br>
                                                    </div>
                                                </div>
                                        </fieldset>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5>Edit Unit Information</h5>
                                        <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                        </button>
                                </div>
                                <form id="edit_form" method="POST" action="/admin/maintenance/unit/edit" enctype="multipart/form-data">
                                    <div class="modal-body">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Unit Type</label>
                                                        <div class="col-md-12">
                                                            <select id="utype" name="utype" class="form-control">
                                                                <option disabled="" selected=""></option>
                                                            </select>
                                                        </div></br>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Brand</label>
                                                        <div class="col-md-12">
                                                            <select id="brand" name="brand" class="form-control">
                                                            </select>
                                                        </div></br>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Model</label>
                                                        <div class="col-md-12">
                                                            <input type="text" name="model" class="form-control" placeholder="Model">
                                                        </div></br>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Max Capacity</label>
                                                        <div class="col-md-12">
                                                            <input type="number" name="capt" class="form-control" placeholder="">
                                                        </div></br>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <center>
                                                <label class="col-lg-10 control-label">Numbers</label>
                                            </center>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-lg-12 control-label">Plate Number</label>
                                                        <div class="col-lg-12">
                                                            <input type="text" name="plateno" class="form-control" placeholder="Plate Number">
                                                        </div></br>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-lg-12 control-label">Chassi Number</label>
                                                        <div class="col-lg-12">
                                                            <input type="text" name="chassino" class="form-control" placeholder="Chassi Number">
                                                        </div></br>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-lg-12 control-label">Body Number</label>
                                                        <div class="col-lg-12">
                                                            <input type="text" name="bodyno" class="form-control" placeholder="Body Number">
                                                        </div></br>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-lg-12 control-label">Engine Number</label>
                                                        <div class="col-lg-12">
                                                            <input type="text" name="engineno" class="form-control" placeholder="Engine Number">
                                                        </div></br>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <center>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-12 control-label">Routes</label>
                                                            <div class="col-md-12">
                                                                <select id="" name="route" class="form-control">
                                                                    <option disabled="" selected=""></option>
                                                                </select>
                                                            </div></br>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-12 control-label">Route Registered</label>
                                                            <div class="col-md-12">
                                                                <input type="date" id="rreg" name="rreg" type="date" class="form-control" placeholder="">
                                                            </div></br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </center>
                                            <hr>
                                            <center>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Boundary</label>
                                                        <div class="checkbox">
                                                            <input id="checkbox1" type="checkbox">
                                                            <label for="checkbox1">
                                                                Set Default
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </center>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Morning Shift</label>
                                                        <div class="col-md-12">
                                                            <input name="mbound" type="number" class="form-control" placeholder="">
                                                        </div></br>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Afternoon Shift</label>
                                                        <div class="col-md-12">
                                                            <input name="abound" type="number" class="form-control" placeholder="">
                                                        </div></br>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Wholeday</label>
                                                        <div class="col-md-12">
                                                            <input name="wdbound" type="number" class="form-control" placeholder="">
                                                        </div></br>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" style="margin-left:80%" class="btn btn-primary"> Submit </button>
                                    </div>
                                </form>
                                        </fieldset>
                                </div>
                            </div>
                        </div>
                    <!-- End Modal  -->

            <footer class="footer">
                <div class="container-fluid">
                </div>
            </footer>
        </div>
    </div>
    <script>
        ajax = new XMLHttpRequest()

        function typedef( par ) {
            p = document.getElementById( par )
            el = p.elements
            ut = el.utype
            b = el.brand
            b.innerHTML = ""

            ajax.onreadystatechange = () => {
                if( ajax.readyState == 4 ) {
                    res = ajax.responseText.split( ";" )
                    res.forEach( cur => {
                        cur = cur.split( ", " )
                        b.innerHTML += '<option value="' + cur[0] + '">' + cur[1] + '</option>'
                    })
                }
            }

            ajax.open( "GET", "/admin/maintenance/unit/typedef?utype=" + ut.value )
            ajax.send()
        }

        function expand_info( par ) {
            p = document.getElementById( par )
            f = document.getElementById( "infos" )
            el = f.elements

            el.chassino.value = p.children.chassino.innerHTML
            el.engineno.value = p.children.engineno.innerHTML
            el.bodyno.value = p.children.bodyno.innerHTML
            el.capt.value = p.children.capt.innerHTML
            el.rreg.value = p.children.rreg.innerHTML
        }

        function filter() {
            d = document.getElementById( "data" ).children
            f = document.getElementById( "utype" ).value
            h = document.createAttribute( "hidden" )

            for( x = 0; x < d.length; x ++ ){
                if( f == "All" ) {
                    if( d[x].hasAttribute( "hidden" ) )
                        d[x].removeAttribute( "hidden" )                    
                } else if( d[x].children.dutype.innerHTML == f ) {
                    if( d[x].hasAttribute( "hidden" ) )
                        d[x].removeAttribute( "hidden" )
                } else {
                    d[x].setAttribute( "hidden", "true" )
                }
            }
        }
    </script>
</body>

<script>
    $(document).ready(function(){
        var $this = $(this)
        $('#maintenance').addClass('active');
        if($this.hasClass('show')) {
            $('#maintenance.collapse').slideDown('slow','swing').removeClass('show')
        }
        else{
            $('#maintenance.collapse').slideUp('slow','swing').addClass('show')
        }
        $('#pagesMaintenance.collapse').addClass('show');
        
        $('#unit').addClass('active');
    })
</script>