<% include templates/sidebar %>
<% include templates/topbar %>
            <!-- End Navbar -->
            <div class="panel-header">
                <div class="header text-center">
                    <h2 class="title"></h2>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"></h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Classification</th>
                                            <th>Offense</th>
                                            <th>Amount of Penalty</th>
                                        </thead>
                                        <tr>            
                                            <td>1</td>
                                            <td>Ang Casasis</td>
                                            <td>Boundary</td>
                                            <td>3rd</td>
                                            <td>P5,000.00</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Jerevon Carreonniverse</td>
                                            <td>Fuel</td>
                                            <td>1st</td>
                                            <td>P500.00</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Roberto Zulueta</td>
                                            <td>Damage on Unit</td>
                                            <td>2nd</td>
                                            <td>P3,000.00</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Pio Sales</td>
                                            <td>Fuel</td>
                                            <td>1st</td>
                                            <td>P700.00</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
    
                </div>
            </footer>
        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script src="/assets/js/core/jquery.min.js"></script>
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="/assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="/assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/assets/js/now-ui-dashboard.js?v=1.0.1"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src="/assets/demo/demo.js"></script>

</html>
