<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link  sizes="76x76" href="/assets/img/matt-logo.png">
    <link rel="icon" type="image/png" href="/assets/img/matt logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Fleet Management System</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
         <!-- Fonts and icons     -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
     <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">   -->
    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/fontawesome-free-5.2.0-web/css/fontawesome.min">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
     <link href="/assets/css/now-ui-dashboard.css?v=1.0.1" rel="stylesheet" />
    <link href="/assets/css/now-ui-dashboard.min69ea.css" rel="stylesheet" />
     <link href="/assets/css/now-ui-kit.css?v=1.0.1" rel="stylesheet" />  
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/assets/demo/demo.css" rel="stylesheet" />
    <link href="/assets/css/fullcalendar.min.css" rel="stylesheet" />
    <link href="/assets/css/schedule.css" rel="stylesheet" />

    <link href="/assets/css/use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>

<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="white" >
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini">
                    KP
                </a>
                <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                    Kingdom Proclaimers
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li id="dispatch">
                        <a href="/dispatcher/dispatch">
                            <i class="now-ui-icons shopping_delivery-fast"></i>
                            <p>Dispatch</p>
                        </a>
                    </li>
                    <li id="arrival">
                        <a href="/dispatcher/arrival">
                            <i class="now-ui-icons transportation_bus-front-12"></i>
                            <p>Arrival</p>
                        </a>
                    </li>
                        <!-- <li id="rent">
                            <a data-toggle="collapse" href="#pagesRenting" class="collapsed" aria-expanded="false">                         
                                <i class="now-ui-icons business_bank"></i>    
                                <p>Renting<b class="caret"></b></p>
                            </a>
                            <div class="collapse" id="pagesRenting">
                                <ul class="nav">                       
                                    <li id="rentdispatch">
                                        <span class="sidebar-mini-icon"></span>
                                            <a href="/dispatcher/rentdispatch">
                                                <i class="now-ui-icons business_money-coins"></i>                     
                                                <span class="sidebar-normal">
                                                    Dispatch
                                                </span>
                                            </a>
                                    </li>
                                    <li id="rentarrival">
                                        <span class="sidebar-mini-icon"></span>
                                            <a href="/dispatcher/rentarrive">
                                                <i class="now-ui-icons business_money-coins"></i>                     
                                                <span class="sidebar-normal">
                                                    Arrival
                                                </span>
                                            </a>
                                    </li>
                                </ul>
                            </div>
                        </li>  -->
                </ul>
            </div>
        </div>