<div class="col-lg-3">
    <select id="utype" class="form-control" onchange="sync_filter()">
        <option value="All" selected="">All Unit Types</option>
        <!-- <option value="1">Bus</option> -->
        <option value="2">FX</option>
        <option value="3">Jeep</option>
        <option value="4">Taxi</option>
        <option value="5">UV</option>
    </select>
</div>

<div class="col-lg-3">
    <select id="sctype" class="form-control" style="float: right" onchange="sync_filter()">
        <option value="All" selected="">All Shift Types</option>
        <option value="1">Morning Shift</option>
        <option value="2">Afternoon Shift</option>
        <option value="3">Whole Day Shift</option>
    </select>
</div>