<div class="col-lg-3">
    <select id="utype" class="form-control" onchange="unit_filter()">
        <option value="All" selected="">All Unit Types</option>
        <!-- <option value="1">Bus</option> -->
        <option value="2">FX</option>
        <option value="3">Jeep</option>
        <option value="4">Taxi</option>
        <option value="5">UV</option>
    </select>
</div>